Repository StraussLukas/InnoHandwerk, pull requests merged in 2024-06, with the labels that each got.

#22 Feature/mitarbeiter and login
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/LoginController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/MitarbeiterController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Login.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Mitarbeiter.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/LoginRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/MitarbeiterRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/LoginService.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/MitarbeiterService.java
  backend/src/main/resources/db/datamodel.drawio
  backend/src/main/resources/db/h2.database.mv.db
  backend/src/main/resources/db/migration/V1_0__mitarbeiter_init_schema.sql
  backend/src/main/resources/db/migration/V1_1__mitarbeiter_init_data.sql
  backend/src/main/resources/db/migration/V2_0__login_init_schema.sql
  backend/src/main/resources/db/migration/V2_1__login_init_data.sql
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/LoginControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/MitarbeiterControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/LoginRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/MitarbeiterRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/LoginServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/MitarbeiterServiceTest.java
  backend/src/test/resources/db/h2.integrationTestDatabase.mv.db
  src/main/resources/db/h2.database.mv.db
Labels: backend

#25 Feature/baustelle and besetzung
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustelleController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustellenBesetzungController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Baustelle.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Baustellenbesetzung.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/BaustelleRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/BaustellenBesetzungRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustelleService.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustellenBesetzungService.java
  backend/src/main/resources/db/h2.database.mv.db
  backend/src/main/resources/db/migration/V3_0__baustelle_init_schema.sql
  backend/src/main/resources/db/migration/V3_1__baustelle_init_data.sql
  backend/src/main/resources/db/migration/V4_0__baustellenBesetzung_init_schema.sql
  backend/src/main/resources/db/migration/V4_1__baustellenBesetzung_init_data.sql
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustelleControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustellenbesetzungControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/BaustelleRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/BaustellenbesetzungRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustelleServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustellenbesetzungServiceTest.java
Labels: backend

#29 Feature/beitrag and anhang
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/AnhangController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/BeitragController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Anhang.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Beitrag.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/AnhangRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/BeitragRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangService.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/BeitragService.java
  backend/src/main/resources/db/h2.database.mv.db
  backend/src/main/resources/db/migration/V5_0__beitrag_init_schema.sql
  backend/src/main/resources/db/migration/V5_1__beitrag_init_data.sql
  backend/src/main/resources/db/migration/V6_0__anhang_init_schema.sql
  backend/src/main/resources/db/migration/V6_1__anhang_init_data.sql
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/AnhangControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BeitragControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/AnhangRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/BeitragRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BeitragServiceTest.java
  backend/src/test/resources/db/h2.integrationTestDatabase.mv.db
  src/main/resources/db/h2.database.mv.db
Labels: backend

#30 Feature/frontend
  frontend/angular.json
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/components/dashboard/dashboard.component.css
  frontend/src/app/components/dashboard/dashboard.component.html
  frontend/src/app/components/dashboard/dashboard.component.spec.ts
  frontend/src/app/components/dashboard/dashboard.component.ts
  frontend/src/app/components/employee-administration/employee-administration.component.css
  frontend/src/app/components/employee-administration/employee-administration.component.html
  frontend/src/app/components/employee-administration/employee-administration.component.spec.ts
  frontend/src/app/components/employee-administration/employee-administration.component.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.spec.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/minimal-header/minimal-header.component.css
  frontend/src/app/components/minimal-header/minimal-header.component.html
  frontend/src/app/components/minimal-header/minimal-header.component.spec.ts
  frontend/src/app/components/minimal-header/minimal-header.component.ts
  frontend/src/app/components/project-detail/project-detail.component.css
  frontend/src/app/components/project-detail/project-detail.component.html
  frontend/src/app/components/project-detail/project-detail.component.spec.ts
  frontend/src/app/components/project-detail/project-detail.component.ts
  frontend/src/app/components/shared/chat-message/chat-message.component.css
  frontend/src/app/components/shared/chat-message/chat-message.component.html
  frontend/src/app/components/shared/chat-message/chat-message.component.spec.ts
  frontend/src/app/components/shared/chat-message/chat-message.component.ts
  frontend/src/app/components/shared/employee-list/employee-list.component.css
  frontend/src/app/components/shared/employee-list/employee-list.component.html
  frontend/src/app/components/shared/employee-list/employee-list.component.spec.ts
  frontend/src/app/components/shared/employee-list/employee-list.component.ts
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.css
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.html
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.spec.ts
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.ts
  frontend/src/assets/InnoHandwerkLogo.png
  frontend/src/assets/testdaten/baustelle-rohbau-einfamilienhaus-superingo-adobestock.jpg
  frontend/src/assets/testdaten/fertighausexperte.jpg
  frontend/src/assets/trash-can.png
  frontend/src/styles.css
Labels: frontend

#31 Feature/frontend
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/h2.database.mv.db
  backend/src/test/resources/application-integrationtest.yml
  backend/src/test/resources/db/h2.integrationTestDatabase.mv.db
  src/main/resources/db/h2.database.mv.db
Labels: backend

#36 Feature/frontend
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/h2.database.mv.db
  backend/src/test/resources/db/h2.integrationTestDatabase.mv.db
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/components/dashboard/dashboard.component.html
  frontend/src/app/components/dashboard/dashboard.component.ts
  frontend/src/app/components/employee-administration/employee-administration.component.html
  frontend/src/app/components/employee-administration/employee-administration.component.ts
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/shared/employee-list/employee-list.component.html
  frontend/src/app/components/shared/employee-list/employee-list.component.ts
  frontend/src/app/model/employee.ts
  frontend/src/app/model/login.ts
  frontend/src/main.ts
Labels: frontend

#51 merge feature/savingImagesAndRefactorBackend into main
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/AnhangController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/BeitragController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Anhang.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/AnhangRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangService.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/BeitragService.java
  backend/src/main/resources/db/datamodel.drawio
  backend/src/main/resources/db/migration/V4_0__baustellenBesetzung_init_schema.sql
  backend/src/main/resources/db/migration/V5_0__beitrag_init_schema.sql
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/AnhangControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustelleControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustellenbesetzungControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BeitragControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/AnhangRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustelleServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustellenbesetzungServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BeitragServiceTest.java
  backend/src/test/resources/db/test-db.mv.db
Labels: backend

#52 Feature/frontend
  frontend/src/app/app.routes.ts
  frontend/src/app/components/dashboard/dashboard.component.css
  frontend/src/app/components/dashboard/dashboard.component.html
  frontend/src/app/components/dashboard/dashboard.component.ts
  frontend/src/app/components/employee-administration/employee-administration.component.html
  frontend/src/app/components/employee-administration/employee-administration.component.ts
  frontend/src/app/components/project-detail/project-detail.component.ts
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.html
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.ts
  frontend/src/app/model/constructionSite.ts
  frontend/src/app/model/employee.ts
  frontend/src/app/services/construction-site.service.spec.ts
  frontend/src/app/services/construction-site.service.ts
Labels: frontend

#54 Added Id Generator for Beitrag and Anhang
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Anhang.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Beitrag.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangService.java
  backend/src/main/resources/db/migration/V5_0__beitrag_init_schema.sql
  backend/src/main/resources/db/migration/V6_0__anhang_init_schema.sql
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/AnhangControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BeitragControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/AnhangRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/BeitragRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BeitragServiceTest.java
  backend/src/test/resources/db/test-db.mv.db
Labels: bug, backend

#55 id generator in baustelle und automatische zeitstempel eingefügt
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Baustelle.java
  backend/src/main/resources/db/migration/V3_0__baustelle_init_schema.sql
  backend/src/main/resources/db/prod-db.mv.db
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/AnhangControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustelleControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustellenbesetzungControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BeitragControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/BaustelleRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustelleServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustellenbesetzungServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BeitragServiceTest.java
  backend/src/test/resources/db/test-db.mv.db
  frontend/src/app/components/project-detail/project-detail.component.ts
Labels: bug, backend

#60 Added Timestampgenerator
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Beitrag.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/AnhangControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BeitragControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/BeitragRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/AnhangServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BeitragServiceTest.java
  backend/src/test/resources/db/test-db.mv.db
Labels: backend

#61 Feature/refactoring backend
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustellenBesetzungController.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/entity/Baustellenbesetzung.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/repository/BaustellenBesetzungRepository.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustelleService.java
  backend/src/main/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustellenBesetzungService.java
  backend/src/main/resources/db/migration/V4_0__baustellenBesetzung_init_schema.sql
  backend/src/main/resources/db/migration/V4_1__baustellenBesetzung_init_data.sql
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustelleControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/controller/BaustellenbesetzungControllerTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/repository/BaustellenbesetzungRepositoryTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustelleServiceTest.java
  backend/src/test/java/com/example/InnoHandwerk/InnoHandwerk/service/BaustellenbesetzungServiceTest.java
  backend/src/test/resources/db/test-db.mv.db
Labels: backend

#62 Feature/frontend
  backend/src/main/resources/db/h2.database.mv.db
  frontend/src/app/app.routes.ts
  frontend/src/app/components/dashboard/dashboard.component.css
  frontend/src/app/components/dashboard/dashboard.component.html
  frontend/src/app/components/dashboard/dashboard.component.ts
  frontend/src/app/components/employee-administration/employee-administration.component.html
  frontend/src/app/components/employee-administration/employee-administration.component.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/minimal-header/minimal-header.component.html
  frontend/src/app/components/minimal-header/minimal-header.component.ts
  frontend/src/app/components/project-detail/project-detail.component.html
  frontend/src/app/components/project-detail/project-detail.component.ts
  frontend/src/app/components/project-edit/project-edit.component.css
  frontend/src/app/components/project-edit/project-edit.component.html
  frontend/src/app/components/project-edit/project-edit.component.spec.ts
  frontend/src/app/components/project-edit/project-edit.component.ts
  frontend/src/app/components/project-new/project-new.component.css
  frontend/src/app/components/project-new/project-new.component.html
  frontend/src/app/components/project-new/project-new.component.spec.ts
  frontend/src/app/components/project-new/project-new.component.ts
  frontend/src/app/components/shared/chat-message/chat-message.component.css
  frontend/src/app/components/shared/employee-list/employee-list.component.css
  frontend/src/app/components/shared/project-display/project-display.component.css
  frontend/src/app/components/shared/project-display/project-display.component.html
  frontend/src/app/components/shared/project-display/project-display.component.spec.ts
  frontend/src/app/components/shared/project-display/project-display.component.ts
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.css
  frontend/src/app/components/shared/project-info-tile/project-info-tile.component.html
  frontend/src/app/services/construction-site.service.ts
  frontend/src/app/services/construction/construction-site.service.spec.ts
  frontend/src/app/services/construction/construction-site.service.ts
  frontend/src/app/services/employee/employee.service.spec.ts
  frontend/src/app/services/employee/employee.service.ts
  frontend/src/assets/default-project-image.jpg
Labels: frontend

#64 Feature/frontend
  frontend/src/app/app.routes.ts
  frontend/src/app/components/project-detail/project-detail.component.css
  frontend/src/app/components/project-detail/project-detail.component.html
  frontend/src/app/components/project-detail/project-detail.component.ts
  frontend/src/app/components/project-edit/project-edit.component.ts
Labels: frontend
